/* mono font for terminal */

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes blinker {
  50% {
    background-color: transparent;
  }
}

.terminal {
  font-family: 'Roboto Mono', monospace;
}

.blinker {
  height: 2rem;
  width: 1rem;
  display: inline-block;
  animation: blinker 1.3s infinite;
}

.blinker.small {
  height: 1.2rem;
  width: 0.6rem;
  background-color: white;
}

.blinker.big {
  height: 3.5rem;
  width: 1.7rem;
}

/* .github-btn::before {
  content: '';
  background-image: url('./assets/github.svg');
  height: 3rem;
  width: 3rem;
  position: absolute;
  top: 6px;
  left: 10px;
  background-repeat: no-repeat;
} */
